*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Tahoma;
}

body{
    background:#111;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    text-align:center;
    padding:20px;
}

.container{
    max-width:700px;
    background:#1c1c1c;
    padding:40px 20px;
    border-radius:25px;
    border:3px solid gold;
    box-shadow:0 0 30px rgba(255,215,0,0.4);
    animation:fade 1.5s ease;
}

@keyframes fade{
    from{
        opacity:0;
        transform:translateY(50px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}

h1{
    color:gold;
    margin-bottom:25px;
    line-height:1.8;
}

p{
    font-size:22px;
    line-height:2;
}

.enter-btn{
    margin-top:30px;
    padding:15px 40px;
    font-size:22px;
    border:none;
    border-radius:15px;
    background:gold;
    color:black;
    cursor:pointer;
    transition:0.4s;
    font-weight:bold;
}

.enter-btn:hover{
    transform:scale(1.1);
    background:white;
}